<h4>Post details:</h4>
<p>
  <%=@raw['content'] %>
    <br>
    <br>
    Added at <%=@raw['created_date'] %>
    <br>
    <br>
    <h4>Comments: </h4>
    <p>
  <form action="/details/<%=@raw['id'] %>" method="POST">
     <textarea name="content" class="form-control" rows="6" placeholder="Type your comment here"></textarea>
     <br>
     <button type="submit" class="btn btn-primary">Add comment</button>
  </form>
</p>
   
</p>