<h2>Latests posts:</h2>
<br>

<% @results.each do |posts| %>
<p>
  <%=posts['content'] %>
  <br>
  <br>
  Added at <%=posts['created_date'] %>
<br>
<br>
<a href="/posts/<%=posts['id'] %>">Coments</a>
</p>
<hr>
<%end%>